.gridSpacing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "p1 p2";
  text-align: center;
  box-shadow: 0.2rem 0.2rem rgba(104, 104, 104, 0.2)
}
.p1 {
  grid-area: p1;
  background: lightblue;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}
.p2 {
  grid-area: p2;
  background: lightgreen;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}
.phaseIn {
  animation: textBounce 0.75s ease-in-out;
}

@keyframes textBounce {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    75% {
      transform: scaleY(-1.5);
      opacity: 0.5;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
}