* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.781), rgb(216, 216, 216), rgba(0, 0, 0, 0.781));
    height: 120vh;
}
header {
    background: rgba(38, 116, 206, 0.4);
    height: 20vh;
    width: 100%;
}   
#mainHeading {
    display: flex;
    justify-content: center;
}
header>div>h1 {
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.781), rgb(155, 155, 155), rgba(0, 0, 0, 0.781));
    -webkit-background-clip: text;
    margin: 2rem auto 2rem;
}
main {
    padding-top: 1rem;
}
#shieldSection {
    opacity: 0;
    transition: opacity 1s 0.5s linear;
}
#shieldSpacing {
    display: flex;
    justify-content: center;
    margin: 4rem auto 2rem;
}
#shield {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.781), rgb(155, 155, 155), rgba(0, 0, 0, 0.781));
    height: 60vh;
    width: 25rem;
    clip-path: polygon(50% 10%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    border-radius: 90%;
}
#pointSpacing {
    position: relative;
    font-size: 2.5rem;
    font-family: Impact, Arial, sans-serif;
    color: black;
}
.pointSpecific {
    opacity: 0.8;
}
#pointOne {
    position: absolute;
    top: -12%;
    left: 35%;
}
#pointTwo {
    position: absolute;
    transform: rotateZ(60deg);
    top: 28%;
    right: -48%;
}
#pointThree {
    position: absolute;
    transform: rotateZ(-55deg);
    top: 98%;
    right: -35%;
}
#pointFour {
    position: absolute;
    transform: rotateZ(55deg);
    top: 98%;
    left: -35%;
}
#pointFive {
    position: absolute;
    transform: rotateZ(-60deg);
    top: 28%;
    left: -58%;
}